# NVIDIA Coolbits — allows overclocking and fan control in nvidia-settings
Section "Device"
    Identifier     "Device0"
    Driver         "nvidia"
    VendorName     "NVIDIA Corporation"
    Option         "Coolbits" "28"
EndSection
