[user]
	name  = {{ .git.name }}
	email = {{ .git.email }}
{{- if .git.signingkey }}
	signingKey = {{ .git.signingkey }}

[commit]
	gpgsign = true
{{- end }}

[core]
	editor     = hx
	pager      = delta
	autocrlf   = false
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[delta]
	navigate        = true
	light           = false
	side-by-side    = true
	line-numbers    = true
	syntax-theme    = gruvbox-dark
	plus-style      = syntax "#1e4920"
	minus-style     = syntax "#4a1020"
	file-style      = bold "#89b4fa"
	hunk-header-style = file line-number syntax

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[init]
	defaultBranch = main

[rebase]
	autoStash = true

[alias]
	lg  = log --oneline --graph --decorate --all
	st  = status -sb
	co  = checkout
	br  = branch -vv
	unstage = reset HEAD --
	last    = log -1 HEAD --stat
	wip     = "!git add -A && git commit -m 'wip'"
	undo    = reset HEAD~1 --mixed
